{% extends 'admin/change_list.html' %}
{% load i18n admin_urls static %}

{% block object-tools-items %}
    <li>
        {# Wrap the button in a form for a POST request with CSRF token #}
        <form action="{% url 'admin:shiftmanagement_squadshift_generate_shifts' %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="addlink">
                {% translate "Generate Next 14 Days" %}
            </button>
        </form>
    </li>
    {{ block.super }}
{% endblock %}